.Rproj.user
.Rhistory
.RData
.Ruserdata
www/species_images/*.png
www/database/Transcriptomic/H*
www/database/Transcriptomic/I*
www/database/Transcriptomic/J*
www/database/Transcriptomic/K*
www/database/Transcriptomic/L*
www/database/Transcriptomic/M*
www/database/Transcriptomic/N*
www/database/Transcriptomic/O*
www/database/Transcriptomic/P*
www/database/Transcriptomic/Q*
www/database/Transcriptomic/R*
www/database/Transcriptomic/S*
www/database/Transcriptomic/T*
www/database/Transcriptomic/U*
www/database/Transcriptomic/V*
www/database/Transcriptomic/W*
www/database/Transcriptomic/X*
www/database/Transcriptomic/Y*
www/database/Transcriptomic/Z*
